{% extends "base.html" %}

{% block title %}Add My Car{% endblock %}

{% block body %}

    <div class="container-fluid bg-light py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title mb-4">Add Your Car</h2>
                        <form action="" method="post" enctype="multipart/form-data" class="mt-5">
                            {% csrf_token %}
                            {{ form.car_brand.label_tag }}
                            {{ form.car_brand }}
                            <br>
                            {{ form.car_model.label_tag }}
                            {{ form.car_model }}
                            <br>
                            {{ form.car_cc.label_tag }}
                            {{ form.car_cc }}
                            <br>
                            {{ form.car_transmission.label_tag }}
                            {{ form.car_transmission }}
                            <br>
                            {{ form.car_color.label_tag }}
                            {{ form.car_color }}
                            <br>
                            {{ form.car_hp.label_tag }}
                            {{ form.car_hp }}
                            <br>
                            {{ form.car_torque.label_tag }}
                            {{ form.car_torque }}
                            <br>
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger ml-2">Reset</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
