{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center text">
        <h1>Listed cars own by you</h1>
    </div>
    <div>
        <div class="row">
            {% for car in cars %}
            <div class="d-flex justify-content-center align-items-center m-3">
                <button type="button" class="btn btn-success btn-lg" style="width: 300px;">{{ car.car_brand }} {{ car.car_model }}</button>
            </div>
                   
            {% endfor %}
        </div>
    </div>

{% endblock %}